:root{
    /* Color styles */
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;

}


/* background */

header, .foot-top{
    background-color: var(--light-gray);
}

#hero, #about{
    background-color: var(--aqua);
    color: var(--white);
}

#portfolio, #contact{
    background-color: var(--white);
    color: var(--black);
}

.foot-bot{
    background-color: var(--dark-gray);
}



/* padding-margin */
.px-0{
    padding: 0 10px;
}

.ico-border{
    border-color: var(--white);

}

.card-bord-no{
    border: 0;
}

.form-txt-bord{
    border: 0;
    border-bottom: 1px solid rgba(211, 205, 205, 0.345);
}

.m-0a{
    margin: 0 auto;
}


/* bottoni */

.btn-bg{
    background-color: var(--aqua);
    color: var(--white);
}



/* img */

.card-img{
    width: 100%;
    border-radius: 10px;
}

.hero-round-img{
    width: 40%;
    margin: 0 auto;
}



/* text */

.inve-filter{
    filter: invert(1);
}

.small-ico{
    width: 1.2em;
    height: 1.2em;

}


.font700{
    font-weight: 700;
}


.fsize{
    font-size: 1rem;
}

/* utility */

.debug{
    border: 1px solid red;
}